<footer class="">
       
        <div class="text-center text-lg-left">
            <div class="copyright-text" style="text-align: center;padding: .6rem;">
                <p>Copyright &copy; 2018, All Right Reserved <a href="https://codepen.io/anupkumar92/">Anup</a></p>
            </div>
        </div>
                  
    </footer>

</body>
</html>